{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    ["@babel/preset-env", { "targets": "> 0.25%, not dead" }], // https://babeljs.io/docs/en/babel-preset-env#targets
    "@babel/preset-react"
  ]
}
